<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/skeleton.css">
</head>
<body>

    <!-- trying to change the color based on the amount -->
    <%
    let bankAccount = 0;
    for (let i = 0; i< allBudgets.length; i++)
    {
      bankAccount += parseInt(allBudgets[i].amount)
    }
    %>

    <% function total(){ %>
        <% if (bankAccount < 0) { %>
            <style>body {background-color: #FF6961;}</style>
        <% } else { %>
            <style>body {background-color: #77DD77;}</style>
    <%    }}
    
    total();
    %>

    <div class="container">
        <h1>Budgtr ALL</h1>
        <a href="/budget/new"><button>Add New Item</button></a>

        <% for(let i = 0; i < allBudgets.length; i++) { %>
            <table>
             <tr>
                   <td>
                        <%=allBudgets[i].date %>
                   </td>
                   
                   <td>
                        <a href="/budget/<%=i%>"><%=allBudgets[i].name %></a>
                   </td>
                   <td>
                    $<%=allBudgets[i].amount %>
                    </td>
                </tr>
            </table>
            <% } %>

        <h5>Bank Account Total: $<%=bankAccount%>.00 </h5>

    </div>
    
</body>
</html>